<% layout('template') %>
<style>
  @media (max-width: 900px) {
    .reqPlate {
      flex-direction: column !important;
      gap: 2px;
      position: relative;
    }
    .reqPlate > div {
      width: 100%;
      justify-content: start;
      height: auto;
    }
    .statIcon {
      position: absolute;
      height: auto;
      top: 10px;
      right: 10px;
    }
    #helpCard {
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }
    .mainCard {
      width: 100%;
    }
  }
</style>


<div class="height0 padding5 alignStart" id="homePg">
  <div class="height0 padding20 col mainCard width40" id="helpCard">
    <div class="height0 col padding20" id="headF">
        <div class="corner500 h80 w80 liquid borderWhite logoF glowImg3">
            <img src="/images/au.png" alt="" class="logo corner500 height80 bgWhite opacity7">
        </div>
        <p class="rem22 gradientText textWrap textCenter glowImg3 p1">AU Registrar Document</p>
        <p class="rem22 gradientText textWrap textCenter glowImg3 p2" style="margin-top: -1.6rem !important;">Request System</p>
    </div>
    <div class="height0 padding15 gap10 width100 justifyStart glass col">
        <a href="#" class="nav cnav disabled opacity1 absolute right5 bottom5 scale4"><i class="fas fa-question-circle"></i></a>
        <div class="height0 padding10 border0 borderRadius10 justifyBetween width100 gap10 relative">
            <p class="rem16 gap10 alignCenter">Need Help?</p>
            <a href="/ins2" class="nav liquid">Learn more here <i class="fas fa-chevron-right"></i></a>
        </div>
        <video autoplay muted loop playsinline controls class="width100 cornerRem1 glowImg2" style="opacity: 1;"><source src="/images/video.mp4" type="video/mp4"></video>
    </div>
  </div>
  <div class="height0 padding10 col mainCard width60">
    <br><br>
    <section class="col glass alignStart padding15 relative">
      <a href="#" class="nav cnav disabled opacity1 absolute right5 bottom5 scale4"><i class="fas fa-file-lines"></i></a>
      <section class="col alignStart relative">
        <p class="rem2">Welcome <%= user.fName %></p>
        <p class="rem1">Your documents made easy!</p>
      </section>
      <a href="/req" class="nav liquid bgShade6">Start a new request <i class="fas fa-chevron-right"></i></a>
      <div class="height0 glass shadow2 width0 padding10 gap5 absolute right10 top10" style="border-radius: 30px;">
        <a href="/req" class="nav cnav liquid hidden"><i class="fas fa-bell"></i></a>
        <a href="/prf" class="nav cnav liquid">
          <img src="<%= user.photo ? user.photo : '/images/profile.png' %>" alt="Profile" onerror="this.onerror=null; this.src='/images/profile.png';" class="borderPrimary">
        </a>
      </div>
    </section>
    <br>
    <section class="bgYellow cornerRem1 col relative colorPrimary width99">
      <i class="fas fa-thumbtack absolute right15 top10 size14" style="transform: rotate(45deg);"></i>
      <p class="rem11 str500 textCenter width90">Take Note: Please be informed that document requests are only accepted from MONDAY to FRIDAY, between 8:00am to 5:00pm. Requests submitted beyond these hours will be processed on the next working day.</p>
    </section>
    <br>
    <div class="height0 justifyBetween padding10">
      <p class="rem18 str400">Your Recent Request</p>
      <a href="/reqAll" class="nav glass">See All <i class="fas fa-chevron-right"></i></a>
    </div>
    <% if (requests && requests.length > 0) { %>
      <div class="height0 bgSoft cornerRem1 colorPrimary padding20 gap10 col">
        <% requests.slice(0, 3).forEach(req => { %>
          <a href="/reqView/<%= req._id %>" class="width100 shadow1 cornerRem1">
            <div class="height0 padding15 bgWhite reqPlate">
              <div class="height0 justifyStart width20">
                <p class="size12 str600">TR# <%= req.tr %></p>
              </div>
              <div class="height0 justifyStart width25">
                <% 
                  const options = { 
                    year: 'numeric', 
                    month: 'short', 
                    day: 'numeric', 
                    hour: 'numeric', 
                    minute: '2-digit', 
                    hour12: true 
                  }; 
                  const formattedDate = new Date(req.createdAt).toLocaleString('en-US', options); 
                %>
                <p class="size12 str400"><%= formattedDate %></p>
              </div>
              <div class="height0 justifyStart width25">
                <p class="size12 str500"><%= req.type %></p>
              </div>
              <div class="height0 width10">
                <p class="size12 str400"><%= req.qty %></p>
              </div>
              <div class="height0 width25 justifyEnd">
                <div class="size12 str400 padding5 cornerRem1 colorPrimary str500 width0 borderPrimary statIcon">
                  <i class="fas fa-hourglass inline rem1 w15 h15"></i>
                  <%= req.status %>
                </div>
              </div>
            </div>
          </a>
        <% }) %>
      </div>
    <% } else { %>
      <br>
      <div class="height0">
        <p class="rem16">You have no requests yet!</p>
      </div>
    <% } %>
  </div>
</div>

